<div id="disqus_thread">
    <p>Comment sections are filled with douchebags, so you'll find none here. We like to keep the attention on our own asshat authors.</p>
	<p>Still need to say something? <a href="/contact">Contact</a> us and we'll see about getting your thoughts up, you insufferable fuck.</p>
</div>