<div id="disqus_thread">
    <p>In terms of being an insufferable fuck, no one can compete with a comment section so you'll find none here.</p>
	<p>Still need to say something? <a href="/contact">contact</a> us and we'll see about getting your thoughts up, you insufferable fuck.</p>
</div>